.advantages{
    margin-bottom: 12.37em;
    &__inner{
        display: flex;
        justify-content: center;
        gap:7.5rem;
    }

    &__item{
        padding-left: 4.3rem;
        background: url('../images/flower.svg') left no-repeat;

        &-title{
            margin-bottom: 3px;
            
            font-family: $ff-montserrat;
            font-style: normal;
            font-weight: 600;
            font-size: 16px;
            line-height: 20px;
            color: #000;
        }

        &-text{
            font-family: $ff-open-sans;
            font-style: normal;
            font-weight: 400;
            font-size: 12px;
            line-height: 16px;

            color: #000;
            opacity: 0.5;
        }

        &--delivery{
            padding-left: 5.56rem;
            background: url('../images/delivery.svg') 0 no-repeat;
        }
        &--finance{
            background: url('../images/finance.svg') left no-repeat;
        }
    }
}
