.baner{
    margin-bottom: 100px;
}
.baner-inner{
    flex-basis: 45%;
    padding: 90px 8.75rem ;

    &__image{
        width: 438px;
        height: 432px;
        left: 45%;
        top: -6rem;
        transform: translateX(-45%) scale(1.5);
    }
    &__description-name{
        width: 30%;
        font-size: 5.2rem;
        line-height: 1;
        opacity: 1;
    }
    &__price{
        display: flex;
        gap: 2rem;
        align-items: center;

        margin-bottom: 24px;
        &-old{
            font-weight: 700;
            opacity: 1;
            color: rgba($white, .3);
            &:before{
                width: 108.96px;
                height: 2.37px;
                opacity: .5;
                left: -15px;
            }
        }
    }
    &__description-collection{
        font-size: 1.5rem;
    }
    &__description-size{
        font-size: 12px;
    }

}
