.btn {
  display: flex;
  align-items: center;

  padding: 0.5em 1.5em;

  font-size: 1rem;
  line-height: 1.25;

  border: 0;
  border-radius: 4.56rem;

  transition: background .3s linear,
              color .3s linear;
  &--primary {
    color: $white;
    padding: 0.87em 1.5em;
    background-color: rgba($color-primary, 1);

    &:hover {
      background-color: rgba($color-primary, 0.8);
    }
  }
  &--white {
    color: $bg-viola;
    font-size: 0.87em;
    padding: 0.5em 2.25em;
    background-color: rgba($white, 1);

    &:hover {
      background-color: rgba($white, 0.8);
    }
  }
  &--gray {
    background-color: rgba(19, 0, 53, 0.05);

    &:hover {
      background-color: rgba(19, 0, 53, 0.1);
    }
  }

  &--purple {
    color: $bg-purple;
  }
  &--tacao {
    color: $bg-tacao;
  }
  &--savana {
    color: #72337c;
  }
  &--indigo-light {
    color: $bg-indigo-light;
  }
  &--asparagus {
    color: $bg-asparagus;
  }
  &--cerise {
    color: $bg-cerise;
  }

  &--viola {
    color: $bg-viola;
  }
}
