.card{
    display: block;
    width: 320px;
    height: 320px;
    border-radius: 12px;

    text-decoration: none;
    color: inherit;

    transition: box-shadow .3s linear;

    &:hover{
        box-shadow: 0px 0px 5px 5px rgba(34, 60, 80, 0.2);
    }
    &__kind{
        margin-bottom: 8px;
        height: 100%;
        background:rgba($dark, .05);
        border-radius: 12px;

        padding: 12px 8px;

        &-rating{
            display: flex;
            gap: 6px;
            align-items: center;

            width: 71px;

            padding: 4px 8px;
            background-color: #fff;
            border-radius: 29px;

            font-family: $ff-montserrat;
            font-size: 1rem;
            font-weight: 700;
        }

        &-image{
            margin-left: -1rem;
            margin-top: -1rem;
            height: 100%;
            width: 100%;
            object-fit: contain;
        }
    }

    &__description{
        display: flex;
        justify-content: space-between;
        align-items: center;

        font-family: $ff-montserrat;
        font-weight: 700;
        line-height: 1.25;

        &-title{
            margin-right: 10px;
            font-size: 1rem;

            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
        }
        &-price{
            font-size: 1.5rem;
        }
    }
}
