.footer{
    background: $dark;
    padding: 16px 0;
    &__inner{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__copy{
        font-family: $ff-open-sans;
        font-size: 12px;
        line-height: 1.25;

        color: $white;
    }

    &__socials{
        display: flex;
        align-items: center;
        gap: 20px;
        a{
            display: block;
            height: 28px;
            &:hover{
                path{
                    fill: $color-primary ;
                }
            }
        }
        path{
            @include transition(fill);
        }
    }
}
