.header{
    &__inner{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1.75rem 0;
        position: relative;
    }

    &__logo{
        position: absolute;
        left: 0;

        &:hover{
            path{
                fill: darken($color-primary, 10%);
            }
        }
    }

    &__nav{
        padding-left: 190px;

        &-link{
            text-decoration: none;
            color: inherit;

            @include transition(color);
            &:not(:first-child){
                margin-left: 32px;
            }

            &:hover{
                color: $color-primary;
            }
        }
    }

    &__buttons{
        display: flex;
        gap: 1.25rem;
        .search,
        .shopping-car{
            background: none;
            border: 0;

            path{
                @include transition(fill);
            }

            &:hover{
                path{
                    fill: $color-secondary;
                }
            }
        }
    }
}
