.intro{
    margin-bottom: 2rem;
    .slick-initialized .slick-slide {
        display: flex;
    }
    .slick-dots{
        display: flex;
        gap: .75rem;
        font-size: 0;
        position: absolute;
        bottom: 5rem;
        left: 50%;

        li{
            button{
                height: 0.62rem;
                width: 0.62rem;
                background-color: #fff;
                border: 0;
                border-radius: 100%;
                opacity: .5;

                transition: opacity .3s linear;
                &:hover{
                    opacity: 1;
                }
            }
        }
        .slick-active{
            button{
              width: 1.75rem;
              height: 0.62rem;
              border-radius: 1.32rem;
              opacity: 1;
          }
      }
    }

}
