.preview,
.baner-inner{
    $parent: &;

    font-family: $ff-montserrat;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    position: relative;
    padding: 10em;
    font-size: 1rem;

    color: $white;
    background: $bg-purple;
    border-radius: .75rem;
    &__image{
        width: 406px;
        height: 533px;

        position: absolute;
        top: 3.2rem;
        right: 23rem;
        z-index: 20;

        transform: scale(1.4);

        img{
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }

    &__description{
        &-size{
            font-family: $ff-open-sans;
            font-weight: 400;
            font-size: 1.25rem;
            line-height: 1.68rem;

            opacity: 0.5;
        }
        &-collection{
            font-weight: 700;
            font-size: 3.25rem;
            line-height: 1.25em;
        }
        &-name{
            margin-left: -0.5rem;
            font-weight: 900;
            font-size: 9rem;
            line-height: 1.25em;

            text-transform: uppercase;
            opacity: 0.3;
        }
    }
    &__price{
        font-weight: 700;
        font-size: 4.2rem;
        line-height: 1.25em;
        &-old{
            font-weight: 500;
            font-size: 1.8rem;
            line-height: 1.2em;
            opacity: 0.3;
            position: relative;
            &:before{
                content: "";
                width: 5.25rem;
                height: 0.12rem;
                background-color: $color-primary;
                transform: rotate(-15deg);

                position: absolute;
                left: 0;
                bottom: 50%;
            }
            &--white{
                &:before{
                    background-color: $white;
                }
            }
        }
    }


    &--small,
    &--big{
        flex-direction: column;
        align-items: start;
        width: 320px;
        height: 320px;
        padding: 2em;
        z-index: 20;

        .preview__image{
            width: 20rem;
            height: 20rem;
            transform: scale(.6);
            right: -4rem;
            top: -3.5rem;
            z-index: -1;
        }
        .preview__description{
            &-size{
                font-size: 0.65rem;
            }
            &-collection{
                font-size: 1.5rem;
            }
            &-name{
                margin-bottom: 1.25rem;
                margin-left: -0.3rem;
                font-size: 3rem;
            }
        }
        .preview__price{
            font-size: 1.5rem;
        }
    }

    &--big{
        width: 672px;
      .preview__image{
            width: 20rem;
            height: 20rem;
            transform: scale(1);
            right: 1rem;
            top: 1rem;
            z-index: 1;
        }
    }

    &--purple{
        background: $bg-purple;
    }
    &--tacao{
        background: $bg-tacao;
    }
    &--savana{
        background: #72337C;
    }
    &--indigo-light{
        background: $bg-indigo-light;
    }
    &--asparagus{
        background: $bg-asparagus;
    }
    &--cerise{
        background: $bg-cerise;
    }

    &--viola{
        background: $bg-viola;
    }

}
