.product{
    margin-bottom: 100px;
    &__inner{
        margin-bottom: 80px;
        display: flex;
        flex-wrap: wrap;
        gap: 32px;
    }
    &__item{
        margin-bottom: 40px;
    }
}
