@import "vars";
@import "mixins";
@import "vendor/reset.scss";

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700;900&family=Open+Sans:wght@400;600&display=swap');

html{
    font-size: 100%;
}

body {
    width: 100%;
    font-family: $ff-montserrat;
    font-size: 1rem;
    line-height: 1.25;
    color: $dark;
}
*,
*:before,
*:after{
    box-sizing: border-box;
}

.container{
    width: 86rem;
    margin: 0 auto;
}

.ta-c{
    text-align: center;
}
.ta-r{
    text-align: right;
}
.jc-c{
    display: flex;
    justify-content: center;
}

.title{
    font-size: 3.75rem;
    font-weight: 700;
    line-height: 1.25;

    margin-bottom: 3.75rem;
}



@import "block/header.scss";
@import "block/preview.scss";
@import "block/intro.scss";
@import "block/btn.scss";
@import "block/range.scss";
@import "block/advantages.scss";
@import "block/baner.scss";
@import "block/product.scss";
@import "block/card.scss";
@import "block/footer.scss";
