
$dark: #130035;
$white: #ffffff;
$gold: #EEA081;

$color-primary: #E83185;
$color-secondary: #E93286;

$bg-purple: #7B49D2;
$bg-tacao: #EEA081;
$bg-indigo: #5B52D5;
$bg-indigo-light: #5C53D6;
$bg-asparagus: #7B9C4B;
$bg-cerise: #E93286;
$bg-viola: #CC92BC;


$ff-montserrat: 'Montserrat', sans-serif;
$ff-open-sans: 'Open Sans', sans-serif;
