<footer class="footer">
    <div class="container footer__inner">
        <div class="footer__copy">©2020Kvity.Pro - All rights reserved</div>
        <div class="footer__socials">
            <a href="#">
                <svg width="28" height="28" viewBox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M13.9965 9.33135C11.4258 9.33135 9.32784 11.4293 9.32784 14C9.32784 16.5707 11.4258 18.6687 13.9965 18.6687C16.5672 18.6687 18.6652 16.5707 18.6652 14C18.6652 11.4293 16.5672 9.33135 13.9965 9.33135ZM27.999 14C27.999 12.0667 28.0165 10.1509 27.9079 8.2211C27.7993 5.97958 27.288 3.99024 25.6489 2.35113C24.0063 0.708519 22.0204 0.200677 19.7789 0.0921032C17.8456 -0.0164701 15.9298 0.00104176 14 0.00104176C12.0667 0.00104176 10.1509 -0.0164701 8.2211 0.0921032C5.97958 0.200677 3.99024 0.712022 2.35113 2.35113C0.70852 3.99374 0.200677 5.97958 0.0921032 8.2211C-0.0164701 10.1544 0.00104176 12.0702 0.00104176 14C0.00104176 15.9298 -0.0164701 17.8491 0.0921032 19.7789C0.200677 22.0204 0.712022 24.0098 2.35113 25.6489C3.99374 27.2915 5.97958 27.7993 8.2211 27.9079C10.1544 28.0165 12.0702 27.999 14 27.999C15.9333 27.999 17.8491 28.0165 19.7789 27.9079C22.0204 27.7993 24.0098 27.288 25.6489 25.6489C27.2915 24.0063 27.7993 22.0204 27.9079 19.7789C28.02 17.8491 27.999 15.9333 27.999 14ZM13.9965 21.1834C10.0213 21.1834 6.81314 17.9752 6.81314 14C6.81314 10.0248 10.0213 6.81665 13.9965 6.81665C17.9717 6.81665 21.1799 10.0248 21.1799 14C21.1799 17.9752 17.9717 21.1834 13.9965 21.1834ZM21.4741 8.20008C20.5459 8.20008 19.7964 7.45057 19.7964 6.52245C19.7964 5.59432 20.5459 4.84481 21.4741 4.84481C22.4022 4.84481 23.1517 5.59432 23.1517 6.52245C23.152 6.74284 23.1088 6.96111 23.0245 7.16478C22.9403 7.36844 22.8168 7.55349 22.6609 7.70933C22.5051 7.86517 22.32 7.98873 22.1164 8.07294C21.9127 8.15715 21.6944 8.20036 21.4741 8.20008Z" fill="white"/>
                    </svg>

            </a>
            <a href="#">
                <svg width="28" height="28" viewBox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M25 0H3C2.20435 0 1.44129 0.316071 0.87868 0.87868C0.31607 1.44129 0 2.20435 0 3L0 25C0 25.7956 0.31607 26.5587 0.87868 27.1213C1.44129 27.6839 2.20435 28 3 28H11.5781V18.4806H7.64062V14H11.5781V10.585C11.5781 6.70062 13.8906 4.555 17.4325 4.555C19.1287 4.555 20.9025 4.8575 20.9025 4.8575V8.67H18.9481C17.0225 8.67 16.4219 9.865 16.4219 11.0906V14H20.7206L20.0331 18.4806H16.4219V28H25C25.7956 28 26.5587 27.6839 27.1213 27.1213C27.6839 26.5587 28 25.7956 28 25V3C28 2.20435 27.6839 1.44129 27.1213 0.87868C26.5587 0.316071 25.7956 0 25 0Z" fill="white"/>
                    </svg>
            </a>
        </div>
    </div>
</footer>
