---
layout: default
title: Kvity
---

<!-- Intro block -->
<section class="intro">
  <div class="container">
    <ul class="intro__slider">
      <li class="preview">
        <div class="preview__image">
          <img src="assets/images/intro-flawers.png" alt="" />
        </div>
        <div class="preview__description">
          <div class="preview__description-size">Довжина 120 см.</div>
          <div class="preview__description-collection">Букет</div>
          <div class="preview__description-name">еустома</div>
          <button class="btn btn--primary">Придбати</button>
        </div>
        <div class="preview__price">
          <div class="preview__price-new">₴400</div>
          <div class="preview__price-old">₴520</div>
        </div>
      </li>

      <li class="preview preview--indigo-light">
        <div class="preview__image">
          <img src="assets/images/card/img1.png" alt="" />
        </div>
        <div class="preview__description">
          <div class="preview__description-size">Довжина 70 см.</div>
          <div class="preview__description-collection">Композицiя</div>
          <div class="preview__description-name">нiжнiсть</div>
          <button class="btn btn--primary">Придбати</button>
        </div>
        <div class="preview__price">
          <div class="preview__price-new">₴400</div>
          <div class="preview__price-old">₴520</div>
        </div>
      </li>

      <li class="preview preview--viola">
        <div class="preview__image">
          <img src="assets/images/card/img6.png" alt="" />
        </div>
        <div class="preview__description">
          <div class="preview__description-size">Довжина 80 см..</div>
          <div class="preview__description-collection">Букет</div>
          <div class="preview__description-name">Мюнхен</div>
          <button class="btn btn--primary">Придбати</button>
        </div>
        <div class="preview__price">
          <div class="preview__price-new">₴400</div>
          <div class="preview__price-old">₴520</div>
        </div>
      </li>
    </ul>
  </div>
</section>
<!--/.Intro-->

<!-- Range block -->
<div class="range">
  <div class="container">
    <div class="range__inner">
      <a class="preview preview--small preview--viola">
        <div class="preview__image">
          <img src="assets/images/card/img6.png" alt="" />
        </div>
        <div class="preview__price">₴250</div>
        <div class="preview__description">
          <div class="preview__description-size">Довжина 80 см..</div>
          <div class="preview__description-collection">Букет</div>
          <div class="preview__description-name">Мюнхен</div>
          <button class="btn btn--white btn--viola">Придбати</button>
        </div>
      </a>

      <a class="preview preview--small preview--tacao">
        <div class="preview__image">
          <img src="assets/images/card/img2.png" alt="" />
        </div>
        <div class="preview__price">₴250</div>
        <div class="preview__description">
          <div class="preview__description-size">Довжина 80 см.</div>
          <div class="preview__description-collection">Корзина</div>
          <div class="preview__description-name">Амфора</div>
          <button class="btn btn--white btn--tacao">Придбати</button>
        </div>
      </a>
      <a class="preview preview--big preview--cerise">
        <div class="preview__image">
          <img src="assets/images/card/img3.png" alt="" />
        </div>
        <div class="preview__price">₴180</div>
        <div class="preview__description">
          <div class="preview__description-size">Довжина 70 см.</div>
          <div class="preview__description-collection">Корзина квiтiв</div>
          <div class="preview__description-name">Жiночнiсть</div>
          <button class="btn btn--white btn--cerise">Придбати</button>
        </div>
      </a>
      <a class="preview preview--big preview--indigo-light">
        <div class="preview__image">
          <img src="assets/images/card/img1.png" alt="" />
        </div>
        <div class="preview__price">₴180</div>
        <div class="preview__description">
          <div class="preview__description-size">Довжина 70 см.</div>
          <div class="preview__description-collection">Композицiя</div>
          <div class="preview__description-name">нiжнiсть</div>
          <button class="btn btn--white btn--indigo-light">Придбати</button>
        </div>
      </a>
      <a class="preview preview--small preview--asparagus">
        <div class="preview__image">
          <img src="assets/images/card/img7.png" alt="" />
        </div>
        <div class="preview__price">₴700</div>
        <div class="previewdescription">
          <div class="preview__description-size">Довжина 40 см..</div>
          <div class="preview__description-collection">Композицiя</div>
          <div class="preview__description-name">Акцент</div>
          <button class="btn btn--white btn--asparagus">Придбати</button>
        </div>
      </a>
      <a class="preview preview--small preview--savana">
        <div class="preview__image">
          <img src="assets/images/card/img4.png" alt="" />
        </div>
        <div class="preview__price">₴700</div>
        <div class="preview__description">
          <div class="preview__description-size">Довжина 40 см.</div>
          <div class="preview__description-collection">Букет</div>
          <div class="preview__description-name">Савана</div>
          <button class="btn btn--white btn--savana">Придбати</button>
        </div>
      </a>
    </div>
  </div>
</div>
<!-- /.Range -->

<!--  Advantages block -->
<section class="advantages">
  <div class="container">
    <h2 class="title ta-c">Чому KvityPro?</h2>
    <div class="advantages__inner">
      <div class="advantages__item">
        <h3 class="advantages__item-title">Тiльки свiжi квiти</h3>
        <div class="advantages__item-text">
          Всi букеты проходят двохрiвневий контроль якостi
        </div>
      </div>

      <div class="advantages__item advantages__item--delivery">
        <h3 class="advantages__item-title">Зручна доставка</h3>
        <div class="advantages__item-text">
          Вашi квiти доставлять у потрiбний час в потрiбне мiсце
        </div>
      </div>

      <div class="advantages__item advantages__item--finance">
        <h3 class="advantages__item-title">Безпечнi платежi</h3>
        <div class="advantages__item-text">
          Вашi платiжнi даннi безпечно захищенi вiд зловмисникiв
        </div>
      </div>
    </div>
  </div>
</section>
<!-- /.Advantages  -->

<!-- Baner -->
<section class="baner">
  <div class="container">
    <div class="baner-inner baner-inner--cerise">
      <div class="baner-inner__image">
        <img src="assets/images/baner1.png" alt="err" />
      </div>
      <div class="baner-inner__description-name">Корзина квiтiв</div>
      <div class="baner-inner__description">
        <div class="baner-inner__description-size">Довжина 70 см.</div>
        <div class="baner-inner__description-collection">Корзина квiтiв</div>
        <div class="baner-inner__price">
          <div class="baner-inner__price-new">₴450</div>
          <div class="baner-inner__price-old baner-inner__price-old--white">₴700</div>
        </div>
        <button class="btn btn--white btn--cerise" type="button">Придбати</button>
      </div>
    </div>
  </div>
</section>
<!-- /.Baner -->

<!-- Product block -->
<section class="product">
  <div class="container">
    <h2 class="title ta-c">Найкращий вибір</h2>

    <div class="product__inner">
        <a href="#" class="product__item card">
            <div class="card__kind">
                <div class="card__kind-rating">
                    <img src="assets/images/star.svg" alt="">
                    5.0
                </div>
                <img src="assets/images/card/img.png" alt="" class="card__kind-image">
            </div>
            <div class="card__description">
                <h3 class="card__description-title">Амфора</h3>
                <div class="card__description-price">₴400</div>
            </div>
        </a>
        <a href="#" class="product__item card">
            <div class="card__kind">
                <div class="card__kind-rating">
                    <img src="assets/images/star.svg" alt="">
                    5.0
                </div>
                <img src="assets/images/card/img2.png" alt="" class="card__kind-image">
            </div>
            <div class="card__description">
                <h3 class="card__description-title">Савана</h3>
                <div class="card__description-price">₴400</div>
            </div>
        </a>
        <a href="#" class="product__item card">
            <div class="card__kind">
                <div class="card__kind-rating">
                    <img src="assets/images/star.svg" alt="">
                    5.0
                </div>
                <img src="assets/images/card/img4.png" alt="" class="card__kind-image">
            </div>
            <div class="card__description">
                <h3 class="card__description-title">Мюнхен</h3>
                <div class="card__description-price">₴400</div>
            </div>
        </a>
        <a href="#" class="product__item card">
            <div class="card__kind">
                <div class="card__kind-rating">
                    <img src="assets/images/star.svg" alt="">
                    5.0
                </div>
                <img src="assets/images/card/img6.png" alt="" class="card__kind-image">
            </div>
            <div class="card__description">
                <h3 class="card__description-title">Нiжнiсть</h3>
                <div class="card__description-price">₴400</div>
            </div>
        </a>
        <a href="#" class="product__item card">
            <div class="card__kind">
                <div class="card__kind-rating">
                    <img src="assets/images/star.svg" alt="">
                    5.0
                </div>
                <img src="assets/images/card/img1.png" alt="" class="card__kind-image">
            </div>
            <div class="card__description">
                <h3 class="card__description-title">Жiночнiсть</h3>
                <div class="card__description-price">₴400</div>
            </div>
        </a>
        <a href="#" class="product__item card">
            <div class="card__kind">
                <div class="card__kind-rating">
                    <img src="assets/images/star.svg" alt="">
                    5.0
                </div>
                <img src="assets/images/card/img3.png" alt="" class="card__kind-image">
            </div>
            <div class="card__description">
                <h3 class="card__description-title">Еустома</h3>
                <div class="card__description-price">₴400</div>
            </div>
        </a>
        <a href="#" class="product__item card">
            <div class="card__kind">
                <div class="card__kind-rating">
                    <img src="assets/images/star.svg" alt="">
                    5.0
                </div>
                <img src="assets/images/card/img5.png" alt="" class="card__kind-image">
            </div>
            <div class="card__description">
                <h3 class="card__description-title">Акцент</h3>
                <div class="card__description-price">₴400</div>
            </div>
        </a>
        <a href="#" class="product__item card">
            <div class="card__kind">
                <div class="card__kind-rating">
                    <img src="assets/images/star.svg" alt="">
                    5.0
                </div>
                <img src="assets/images/card/img7.png" alt="" class="card__kind-image">
            </div>
            <div class="card__description">
                <h3 class="card__description-title">Альстромерiя</h3>
                <div class="card__description-price">₴400</div>
            </div>
        </a>
    </div>

    <div class="jc-c">
        <button class=" btn btn--primary">До магазину</button>
    </div>

  </div>
</section>
<!-- /.Product -->
